---
import "../../styles/tokens.css";
import "../../styles/base.css";
import SEOHead from "./SEOHead.astro";
import Navbar from "./Navbar.astro";
import Footer from "./Footer.astro";

const { title, description, lang = "es", image, type } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <SEOHead
      title={title}
      description={description || "Personal Site"}
      image={image}
      type={type}
    />
  </head>
  <body>
    <Navbar lang={lang} />
    <slot />
    <Footer lang={lang} />
  </body>
</html>
